$color-primario:#8d4925;
$color-secundario:#C57d56;
$color-terciario:#ffe5f0;
$bg-color-primario:#ffe5f0;
$bg-color-secundario: #FE8E8F;
$color-texto:black;
$color-texto-primario: #8d4925;
$color-texto-shadow:#C57d56;

