footer{
    background-image: url(../assets/imag/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    h5{
        color: $color-texto;
        font-size: 10px;
        justify-content: left;
    }
    p{
        color: $color-texto;
        font-size: 10px;
        padding-left: 5px;
    }
    li{
        list-style-type: none;
    }
    img{
        width: 20px;
        margin:5px;
    }
    @media (min-width: 768px) {
        h5{
            font-size: 15px;
        }
    
    }
    @media (min-width: 992px) {
        h5{
            font-size: 15px;
        }
    }
    @media (min-width: 1200px) {
        p{
            font-size: 15px;
        }
        img{
            width: 30px;
            margin:5px;
        }
    }
}
