/*productos serum*/
/*productos kit*/
@import '../mixins/carrusel-primario-responsive';
@import '../mixins/carrusel-texto-responsive'; 
@import '../mixins/card-primario-responsive';
@import '../mixins/card-img-responsive';

.carrousel-primario{
    @include carrusel-primario-responsive;
}
.carrousel-primario-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 103px;
    @include carrusel-texto-responsive;
}

.card{
    border-radius: 10px 80px 10px 80px;
}
.card-primario{
    margin:20px;
    width: auto;
    align-items: center;  
   @include card-primario-responsive;
}

.card-img-top{
    object-fit: cover;
    width: auto;
    height: 350px;
    border-radius: 10px 80px 0 0; 
    @include card-img-responsive;
}
.btn{
    background-color:$color-primario;
    border-color:$color-secundario;
}
